<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228993729406-elfunicmiad8nfe8e35tlueausrjpb7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228993729406-elfunicmiad8nfe8e35tlueausrjpb7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBxXc6oJYQpRUkcadOcwDEsq_705koANL8</string>
	<key>GCM_SENDER_ID</key>
	<string>228993729406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ang-Jun-Ray.Lesson-4-Jokes-App</string>
	<key>PROJECT_ID</key>
	<string>joke-3344e</string>
	<key>STORAGE_BUCKET</key>
	<string>joke-3344e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228993729406:ios:9a22dcdbd14616e39fe92f</string>
</dict>
</plist>